@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




.blog-container{
  padding: 30px;
  
}
.blog-container h1{
  margin-bottom: 30px;
}



.container{

 max-width: 600px;
  display: flex;

}

.profile-container form{
  justify-content: center;
  align-content: center;
 
}









